<section class="section main-section">
    <div class="container main-container">
        <div class="arrow-wrapper hidden" id="arrow">
            <div class="arrow-text-wrapper">
            <p class="arrow-title">OPEN</p>
            <p class="arrow-descr">your downloaded file</p>
            </div>
            <svg class="" width="184" height="187" aria-label="icon-arrow">
                <use href="../img/sprite.svg#icon-arrow" />
            </svg>
        </div>
        <strong class="title">thank you for choosing our product !</strong>
        <ul class="supply-list" id="supply-list">
        </ul>
    </div>
</section>