.footer {
    background: #000;
    height: 70px;
    display: flex;
    align-items: center;
}

.footer-text {
    color: #FFF;
    
        font-family: Roboto;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.9;
}

@media only screen and (min-width: 768px) {
    .footer-text {
 
            font-size: 12px;

        }
}

@media only screen and (min-width: 1200px) {
    .footer-text {

        font-size: 14px;

    }
}